*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: "Great Vibes", cursive;

}
p{
text-align: justify;
}
hr{
    color: red;
}
.carousel-item img{
    width: 100%;
    height: 80vh;
}
.card-body img{
    /* object-fit: cover; */
    min-width: 50%;
    max-height: 200px;
  
}
footer h3{
    font-family: "Great Vibes", cursive;

}